@import url("banners.css");
@import url("capsula.css");
@import url("card.css");
@import url("capsula.css");
@import url("topicos.css");

:root{
    --fonte-principal:"Poppins";
    --fonte-secundario:"Josefin";
}

body{
    background-color: #eeeeee;
    color: black;
}